<div class="p-grid">
  <label class="p-col-1" for="ID">ID:</label>
  <input id="ID" type="text" size="30" pInputText [(ngModel)]="unitPhrase.ID" disabled>
</div>
<div class="p-grid">
  <label class="p-col-1" for="UNIT">UNIT:</label>
  <input id="UNIT" type="text" size="30" pInputText [(ngModel)]="unitPhrase.UNIT">
</div>
<div class="p-grid">
  <label class="p-col-1" for="PART">PART:</label>
  <input id="PART" type="text" size="30" pInputText [(ngModel)]="unitPhrase.PART">
</div>
<div class="p-grid">
  <label class="p-col-1" for="SEQNUM">SEQNUM:</label>
  <input id="SEQNUM" type="text" size="30" pInputText [(ngModel)]="unitPhrase.SEQNUM">
</div>
<div class="p-grid">
  <label class="p-col-1" for="PHRASE">PHRASE:</label>
  <input id="PHRASE" type="text" size="30" pInputText [(ngModel)]="unitPhrase.PHRASE">
</div>
<div class="p-grid">
  <label class="p-col-1" for="TRANSLATION">TRANSLATION:</label>
  <input id="TRANSLATION" type="text" size="30" pInputText [(ngModel)]="unitPhrase.TRANSLATION">
</div>
<div>
  <p-button label="Back" (click)="goBack()"></p-button>
  <p-button label="Save" (click)="save()"></p-button>
</div>
