<div class="p-grid mt-2 mb-2">
  <label class="p-col-1" for="ID">ID:</label>
  <input id="ID" type="text" pInputText [(ngModel)]="unitPhrase.ID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="UNIT">UNIT:</label>
  <input id="UNIT" type="text" pInputText [(ngModel)]="unitPhrase.UNIT">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PART">PART:</label>
  <input id="PART" type="text" pInputText [(ngModel)]="unitPhrase.PART">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="SEQNUM">SEQNUM:</label>
  <input id="SEQNUM" type="text" pInputText [(ngModel)]="unitPhrase.SEQNUM">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PHRASE">PHRASE:</label>
  <input id="PHRASE" type="text" pInputText [(ngModel)]="unitPhrase.PHRASE">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="TRANSLATION">TRANSLATION:</label>
  <input id="TRANSLATION" type="text" pInputText [(ngModel)]="unitPhrase.TRANSLATION">
</div>
<div>
  <button pButton label="Back" (click)="goBack()"></button>
  <button pButton label="Save" (click)="save()"></button>
</div>
