<div class="p-grid mt-2 mb-2">
  <label class="p-col-1" for="ID">ID:</label>
  <input class="p-col-3" id="ID" type="text" pInputText [(ngModel)]="item.ID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="UNIT">UNIT:</label>
  <p-dropdown id="UNIT" autoWidth="false" class="p-col-3" styleClass="p-col-3" [style]="{'width':'100%'}" [options]="settingsService.units" [(ngModel)]="item.UNIT">
  </p-dropdown>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PART">PART:</label>
  <p-dropdown id="PART" autoWidth="false" class="p-col-3" styleClass="p-col-3" [style]="{'width':'100%'}" [options]="settingsService.parts" [(ngModel)]="item.PART">
  </p-dropdown>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="SEQNUM">SEQNUM:</label>
  <input class="p-col-3" id="SEQNUM" type="text" pInputText [(ngModel)]="item.SEQNUM">
</div>
<div class="p-grid mt-2 mb-2">
  <label class="p-col-1" for="PHRASEID">PHRASEID:</label>
  <input class="p-col-3" id="PHRASEID" type="text" pInputText [(ngModel)]="item.PHRASEID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PHRASE">PHRASE:</label>
  <input class="p-col-3" id="PHRASE" type="text" pInputText [(ngModel)]="item.PHRASE">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="TRANSLATION">TRANSLATION:</label>
  <input class="p-col-3" id="TRANSLATION" type="text" pInputText [(ngModel)]="item.TRANSLATION">
</div>
<div>
  <button pButton label="Back" (click)="goBack()"></button>
  <button pButton label="Save" (click)="save()"></button>
</div>
