<div class="container mt-2">
<div class="form-inline mb-2">
  <label for="lang" class="col-2 control-label text-left">Languages:</label>
  <select id="lang" class="col-4 form-control" [(ngModel)]="settingsService.selectedLang" (change)="onLangChange($event.target.selectedIndex)">
    <option *ngFor="let lang of settingsService.languages" [ngValue]="lang">{{lang.NAME}}</option>
  </select>
</div>
<div class="form-inline mb-2">
  <label for="dictPicker" class="col-2 control-label">Dictionary(Word):</label>
  <select id="dictPicker" class="col-4 form-control" [(ngModel)]="settingsService.selectedDictPicker" (change)="onDictPickerChange($event.target.selectedIndex)">
    <option *ngFor="let dict of settingsService.dictsPicker" [ngValue]="dict">{{dict.DICTNAME}}</option>
  </select>
</div>
<div class="form-inline mb-2">
  <label for="dictNote" class="col-2 control-label">Dictionary(Note):</label>
  <select id="dictNote" class="col-4 form-control" [(ngModel)]="settingsService.selectedDictNote" (change)="onDictNoteChange($event.target.selectedIndex)">
    <option *ngFor="let dict of settingsService.dictsNote" [ngValue]="dict">{{dict.DICTNAME}}</option>
  </select>
</div>
<div class="form-inline mb-2">
  <label for="textbook" class="col-2 control-label">Textbook:</label>
  <select id="textbook" class="col-4 form-control" [(ngModel)]="settingsService.selectedTextbook" (change)="onTextbookChange($event.target.selectedIndex)">
    <option *ngFor="let textbook of settingsService.textbooks" [ngValue]="textbook">{{textbook.NAME}}</option>
  </select>
</div>
<div class="form-inline mb-2">
  <label for="unitFrom" class="col-2 control-label">Unit:</label>
  <select id="unitFrom" class="col-2 form-control" [(ngModel)]="unitFrom" (change)="onUnitFromChange($event.target.selectedIndex)">
    <option *ngFor="let unit of settingsService.units" [ngValue]="unit">{{unit}}</option>
  </select>
  <select class="col-2 form-control" [(ngModel)]="partFrom" (change)="onPartFromChange($event.target.selectedIndex)">
    <option *ngFor="let part of settingsService.parts" [ngValue]="part">{{part}}</option>
  </select>
</div>
<div class="form-inline mb-2">
  <label for="unitTo" class="col-2 control-label">
    <input type="checkbox" [(ngModel)]="unitPartTo">To:
  </label>
  <select id="unitTo" class="col-2 form-control" [disabled]="!unitPartTo" [(ngModel)]="unitTo" (change)="onUnitToChange($event.target.selectedIndex)">
    <option *ngFor="let unit of settingsService.units" [ngValue]="unit">{{unit}}</option>
  </select>
  <select class="col-2 form-control" [disabled]="!unitPartTo" [(ngModel)]="partTo" (change)="onPartToChange($event.target.selectedIndex)">
    <option *ngFor="let part of settingsService.parts" [ngValue]="part">{{part}}</option>
  </select>
</div>
</div>
