<div class="container">
<div class="row">
  <label class="col-2 control-label">Languages:</label>
  <select class="col-4 form-control" [(ngModel)]="settingsService.selectedLang" (change)="onLangChange($event.target.selectedIndex)">
    <option *ngFor="let lang of settingsService.languages" [ngValue]="lang">{{lang.NAME}}</option>
  </select>
</div>
<div class="row">
  <label class="col-2 control-label">Dictionary(Online):</label>
  <select class="col-4 form-control" [(ngModel)]="settingsService.selectedDictOnline" (change)="onDictOnlineChange($event.target.selectedIndex)">
    <option *ngFor="let dict of settingsService.dictsOnline" [ngValue]="dict">{{dict.DICTNAME}}</option>
  </select>
</div>
<div class="row">
  <label class="col-2 control-label">Dictionary(Note):</label>
  <select class="col-4 form-control" [(ngModel)]="settingsService.selectedDictNote" (change)="onDictNoteChange($event.target.selectedIndex)">
    <option *ngFor="let dict of settingsService.dictsNote" [ngValue]="dict">{{dict.DICTNAME}}</option>
  </select>
</div>
<div class="row">
  <label class="col-2 control-label">Textbook:</label>
  <select class="col-4 form-control" [(ngModel)]="settingsService.selectedTextbook" (change)="onTextbookChange($event.target.selectedIndex)">
    <option *ngFor="let textbook of settingsService.textbooks" [ngValue]="textbook">{{textbook.NAME}}</option>
  </select>
</div>
<div class="row">
  <label class="col-2 control-label">Unit:</label>
  <select class="col-2 form-control" [(ngModel)]="unitFrom" (change)="onUnitFromChange($event.target.selectedIndex)">
    <option *ngFor="let unit of settingsService.units" [ngValue]="unit">{{unit}}</option>
  </select>
  <select class="col-2 form-control" [(ngModel)]="partFrom" (change)="onPartFromChange($event.target.selectedIndex)">
    <option *ngFor="let part of settingsService.parts" [ngValue]="part">{{part}}</option>
  </select>
</div>
<div class="row">
  <label class="col-2 control-label">
    <input type="checkbox" [(ngModel)]="unitPartTo">To:
  </label>
  <select class="col-2 form-control" [disabled]="!unitPartTo" [(ngModel)]="unitTo" (change)="onUnitToChange($event.target.selectedIndex)">
    <option *ngFor="let unit of settingsService.units" [ngValue]="unit">{{unit}}</option>
  </select>
  <select class="col-2 form-control" [disabled]="!unitPartTo" [(ngModel)]="partTo" (change)="onPartToChange($event.target.selectedIndex)">
    <option *ngFor="let part of settingsService.parts" [ngValue]="part">{{part}}</option>
  </select>
</div>
</div>
