<div class="container mt-2">
  <div class="row mb-2">
    <label for="lang" class="col-2 text-left">Language:</label>
    <select id="lang" class="col" [(ngModel)]="settingsService.selectedLang" (ngModelChange)="onLangChange()">
      <option *ngFor="let o of settingsService.languages" [ngValue]="o">{{o.NAME}}</option>
    </select>
  </div>
    <div class="row mb-2">
      <label for="voice" class="col-2">Voice:</label>
      <select id="voice" class="col" [(ngModel)]="settingsService.selectedVoice" (ngModelChange)="onVoiceChange()">
        <option *ngFor="let o of settingsService.voices" [ngValue]="o">{{o.VOICENAME}}</option>
      </select>
    </div>
  <div class="row mb-2">
    <label for="dictReference" class="col-2">Dictionary(Reference):</label>
    <select id="dictReference" class="col" [(ngModel)]="settingsService.selectedDictReference" (ngModelChange)="onDictReferenceChange()">
      <option *ngFor="let o of settingsService.dictsReference" [ngValue]="o">{{o.NAME}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <label for="dictNote" class="col-2">Dictionary(Note):</label>
    <select id="dictNote" class="col" [(ngModel)]="settingsService.selectedDictNote" (ngModelChange)="onDictNoteChange()">
      <option *ngFor="let o of settingsService.dictsNote" [ngValue]="o">{{o.NAME}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <label for="dictTranslation" class="col-2">Dictionary(Translation):</label>
    <select id="dictTranslation" class="col" [(ngModel)]="settingsService.selectedDictTranslation" (ngModelChange)="onDictTranslationChange()">
      <option *ngFor="let o of settingsService.dictsTranslation" [ngValue]="o">{{o.NAME}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <label for="textbook" class="col-2">Textbook:</label>
    <select id="textbook" class="col" [(ngModel)]="settingsService.selectedTextbook" (ngModelChange)="onTextbookChange()">
      <option *ngFor="let o of settingsService.textbooks" [ngValue]="o">{{o.NAME}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <label for="unitFrom" class="col-2">Unit:</label>
    <select id="unitFrom" class="col" [(ngModel)]="settingsService.USUNITFROM" (ngModelChange)="onUnitFromChange()">
      <option *ngFor="let o of settingsService.units" [ngValue]="o.value">{{o.label}}</option>
    </select>
    <select id="partFrom" class="col" [disabled]="toTypeIsUnit" [(ngModel)]="settingsService.USPARTFROM" (ngModelChange)="onPartFromChange()">
      <option *ngFor="let o of settingsService.parts" [ngValue]="o.value">{{o.label}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <select id="toType" class="col-2" [(ngModel)]="settingsService.toType" (USUNITFROM)="onToTypeChange()">
      <option *ngFor="let o of settingsService.toTypes" [ngValue]="o.value">{{o.label}}</option>
    </select>
    <select id="unitTo" class="col" [disabled]="!toTypeIsTo" [(ngModel)]="settingsService.USUNITTO" (ngModelChange)="onUnitToChange()">
      <option *ngFor="let o of settingsService.units" [ngValue]="o.value">{{o.label}}</option>
    </select>
    <select id="partTo" class="col" [disabled]="!toTypeIsTo" [(ngModel)]="settingsService.USPARTTO" (ngModelChange)="onPartToChange()">
      <option *ngFor="let o of settingsService.parts" [ngValue]="o.value">{{o.label}}</option>
    </select>
  </div>
  <div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-auto">
      <button class="btn btn-primary mr-2" [disabled]="toTypeIsTo" (click)="previousUnitPart()">Previous</button>
      <button class="btn btn-primary mr-2" [disabled]="toTypeIsTo" (click)="nextUnitPart()">Next</button>
    </div>
  </div>
</div>
