<div class="container mt-2">
  <div class="row mb-2">
    <label for="lang" class="col-2 text-left">Language:</label>
    <select id="lang" class="col" [(ngModel)]="settingsService.selectedLang" (ngModelChange)="onLangChange()">
      @for (o of settingsService.languages; track o) {
        <option [ngValue]="o">{{o.NAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="voice" class="col-2">Voice:</label>
    <select id="voice" class="col" [(ngModel)]="settingsService.selectedVoice" (ngModelChange)="onVoiceChange()">
      @for (o of settingsService.voices; track o) {
        <option [ngValue]="o">{{o.VOICENAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="dictReference" class="col-2">Dictionary(Reference):</label>
    <select id="dictReference" class="col" [(ngModel)]="settingsService.selectedDictReference" (ngModelChange)="onDictReferenceChange()">
      @for (o of settingsService.dictsReference; track o) {
        <option [ngValue]="o">{{o.NAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="dictNote" class="col-2">Dictionary(Note):</label>
    <select id="dictNote" class="col" [(ngModel)]="settingsService.selectedDictNote" (ngModelChange)="onDictNoteChange()">
      @for (o of settingsService.dictsNote; track o) {
        <option [ngValue]="o">{{o.NAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="dictTranslation" class="col-2">Dictionary(Translation):</label>
    <select id="dictTranslation" class="col" [(ngModel)]="settingsService.selectedDictTranslation" (ngModelChange)="onDictTranslationChange()">
      @for (o of settingsService.dictsTranslation; track o) {
        <option [ngValue]="o">{{o.NAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="textbook" class="col-2">Textbook:</label>
    <select id="textbook" class="col" [(ngModel)]="settingsService.selectedTextbook" (ngModelChange)="onTextbookChange()">
      @for (o of settingsService.textbooks; track o) {
        <option [ngValue]="o">{{o.NAME}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <label for="unitFrom" class="col-2">Unit:</label>
    <select id="unitFrom" class="col" [(ngModel)]="settingsService.USUNITFROM" (ngModelChange)="onUnitFromChange()">
      @for (o of settingsService.units; track o) {
        <option [ngValue]="o.value">{{o.label}}</option>
      }
    </select>
    <select id="partFrom" class="col" [disabled]="toTypeIsUnit" [(ngModel)]="settingsService.USPARTFROM" (ngModelChange)="onPartFromChange()">
      @for (o of settingsService.parts; track o) {
        <option [ngValue]="o.value">{{o.label}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <select id="toType" class="col-2" [(ngModel)]="settingsService.toType" (USUNITFROM)="onToTypeChange()">
      @for (o of settingsService.toTypes; track o) {
        <option [ngValue]="o.value">{{o.label}}</option>
      }
    </select>
    <select id="unitTo" class="col" [disabled]="!toTypeIsTo" [(ngModel)]="settingsService.USUNITTO" (ngModelChange)="onUnitToChange()">
      @for (o of settingsService.units; track o) {
        <option [ngValue]="o.value">{{o.label}}</option>
      }
    </select>
    <select id="partTo" class="col" [disabled]="!toTypeIsTo" [(ngModel)]="settingsService.USPARTTO" (ngModelChange)="onPartToChange()">
      @for (o of settingsService.parts; track o) {
        <option [ngValue]="o.value">{{o.label}}</option>
      }
    </select>
  </div>
  <div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-auto">
      <button class="btn btn-primary mr-2" [disabled]="toTypeIsTo" (click)="previousUnitPart()">Previous</button>
      <button class="btn btn-primary mr-2" [disabled]="toTypeIsTo" (click)="nextUnitPart()">Next</button>
    </div>
  </div>
</div>
