<mat-toolbar>
  <mat-toolbar-row>
    <mat-form-field>
      <mat-select [(value)]="filterType" (selectionChange)="onEnterFilter()">
        <mat-option *ngFor="let o of settingsService.wordFilterTypes" [value]="o.value">
          {{o.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Filter" [(ngModel)]="filter" (keyup.enter)="onEnterFilter()">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onRefresh()">
      <span><mat-icon fontSet="fa" fontIcon="fa-refresh"></mat-icon>Refresh</span>
    </button>
    <a routerLink="/words-dict/textbook/0">
      <button mat-raised-button color="primary">
        <span><mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>Dictionary</span>
      </button>
    </a>
  </mat-toolbar-row>
</mat-toolbar>
<mat-paginator [length]="wordsUnitService.textbookWordCount"
               [pageSize]="rows"
               [pageSizeOptions]="settingsService.USROWSPERPAGEOPTIONS"
               (page)="paginate($event)">
</mat-paginator>
<table mat-table [dataSource]="wordsUnitService.textbookWords" class="mat-elevation-z8">

  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.ID}} </td>
  </ng-container>
  <ng-container matColumnDef="TEXTBOOKNAME">
    <th mat-header-cell *matHeaderCellDef> TEXTBOOKNAME </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.TEXTBOOKNAME}} </td>
  </ng-container>
  <ng-container matColumnDef="UNIT">
    <th mat-header-cell *matHeaderCellDef> UNIT </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.UNIT}} </td>
  </ng-container>
  <ng-container matColumnDef="PART">
    <th mat-header-cell *matHeaderCellDef> PART </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.PART}} </td>
  </ng-container>
  <ng-container matColumnDef="SEQNUM">
    <th mat-header-cell *matHeaderCellDef> SEQNUM </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.SEQNUM}} </td>
  </ng-container>
  <ng-container matColumnDef="WORDID">
    <th mat-header-cell *matHeaderCellDef> WORDID </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.WORDID}} </td>
  </ng-container>
  <ng-container matColumnDef="WORD">
    <th mat-header-cell *matHeaderCellDef> WORD </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.WORD}} </td>
  </ng-container>
  <ng-container matColumnDef="NOTE">
    <th mat-header-cell *matHeaderCellDef> NOTE </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.NOTE}} </td>
  </ng-container>
  <ng-container matColumnDef="LEVEL">
    <th mat-header-cell *matHeaderCellDef> LEVEL </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.LEVEL}} </td>
  </ng-container>
  <ng-container matColumnDef="ACCURACY">
    <th mat-header-cell *matHeaderCellDef> ACCURACY </th>
    <td mat-cell *matCellDef="let row" [ngStyle]="row.colorStyle"> {{row.ACCURACY}} </td>
  </ng-container>
  <ng-container matColumnDef="ACTION">
    <th mat-header-cell *matHeaderCellDef> ACTION </th>
    <td mat-cell *matCellDef="let row; let index = index;" [ngStyle]="row.colorStyle">
      <button mat-mini-fab color="warn" matTooltip="Delete" (click)="deleteWord(row)">
        <mat-icon fontSet="fa" fontIcon="fa-trash"></mat-icon>
      </button>
      <a routerLink="/words-textbook-detail/{{row.ID}}">
        <button mat-mini-fab color="primary" matTooltip="Edit">
          <mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
        </button>
      </a>
      <button mat-mini-fab color="primary" matTooltip="Speak"
              [hidden]="!settingsService.selectedVoice" (click)="settingsService.speak(row.WORD)">
        <mat-icon fontSet="fa" fontIcon="fa-volume-up"></mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Copy" ngxClipboard [cbContent]="row.WORD">
        <mat-icon fontSet="fa" fontIcon="fa-copy"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" matTooltip="Level Up" (click)="updateLevel(row, 1)">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-up"></mat-icon>
      </button>
      <button mat-mini-fab color="accent" matTooltip="Level Down" (click)="updateLevel(row, -1)">
        <mat-icon fontSet="fa" fontIcon="fa-arrow-down"></mat-icon>
      </button>
      <button mat-mini-fab color="primary" matTooltip="Google Word" (click)="googleWord(row.WORD)">
        <mat-icon fontSet="fa" fontIcon="fa-google"></mat-icon>
      </button>
      <a routerLink="/words-dict/textbook/{{index}}">
        <button mat-mini-fab color="primary" matTooltip="Dictionary">
          <mat-icon fontSet="fa" fontIcon="fa-book"></mat-icon>
        </button>
      </a>
      <button mat-raised-button color="accent" [hidden]="!settingsService.selectedDictNote" (click)="getNote(index)">
        Retrieve Note
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<mat-paginator [length]="wordsUnitService.textbookWordCount"
               [pageSize]="rows"
               [pageSizeOptions]="settingsService.USROWSPERPAGEOPTIONS"
               (page)="paginate($event)">
</mat-paginator>
