<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span class="ui-float-label">
        <input id="word" type="text" pInputText [(ngModel)]="newWord" (keyup.enter)="onEnter()">
        <label for="word">New Word</label>
      <a routerLink="/words-lang-detail/0">
        <button pButton type="button" label="Add" icon="fa fa-plus"></button>
      </a>
      <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh()"></button>
      <a routerLink="/words-dict/lang/0">
        <button pButton type="button" label="Dictionary" icon="fa fa-book"></button>
      </a>
    </span>
  </div>
</p-toolbar>
<p-paginator [rows]="rows" [totalRecords]="wordsLangService.langWordsCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
<p-table [value]="wordsLangService.langWords" selectionMode="single" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>WORD</th>
      <th>LEVEL</th>
      <th>NOTE</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-langWord let-index="rowIndex">
    <tr [pSelectableRow]="langWord" [ngStyle]="langWord.colorStyle">
      <td>{{langWord.ID}}</td>
      <td>{{langWord.WORD}}</td>
      <td>{{langWord.LEVEL}}</td>
      <td>{{langWord.NOTE}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(index)"></button>
        <a routerLink="/words-lang-detail/{{langWord.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <button pButton icon="fa fa-volume-up" (click)="speak(langWord.WORD)"
                pTooltip="Speak" tooltipPosition="top"></button>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="langWord.WORD"
                pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton label="Retrieve Note" [hidden]="!settingsService.hasNote" (click)="getNote(index)"></button>
        <button pButton pButton icon="fa fa-google" (click)="googleWord(langWord.WORD)"
                pTooltip="Google Word" tooltipPosition="top"></button>
        <a routerLink="/words-dict/lang/{{index}}">
          <button pButton icon="fa fa-book" pTooltip="Dictionary" tooltipPosition="top"></button>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
