<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-floatLabel class="inline-block">
      <input id="word" type="text" pInputText [(ngModel)]="newWord" (keyup.enter)="onEnterNewWord()">
      <label for="word">New Word</label>
    </p-floatLabel>
    <p-button icon="fa fa-volume-up" [rounded]="true" [hidden]="!settingsService.selectedVoice" (click)="settingsService.speak(newWord)"
            pTooltip="Speak" tooltipPosition="top" />
    <p-dropdown id="filterType" [options]="settingsService.wordFilterTypes" [(ngModel)]="filterType" (onChange)="onRefresh()" />
    <p-floatLabel class="inline-block">
      <input id="filter" type="text" pInputText [(ngModel)]="filter" (keyup.enter)="onRefresh()">
      <label for="filter">Filter</label>
    </p-floatLabel>
    <p-button label="Add" [rounded]="true" icon="fa fa-plus" (click)="showDetailDialog(0)" />
    <p-button label="Refresh" [rounded]="true" icon="fa fa-sync" (click)="onRefresh()" />
    <p-button [hidden]="!settingsService.selectedDictNote" severity="warn" label="Get All Notes" (click)="getNotes(false)" />
    <p-button [hidden]="!settingsService.selectedDictNote" severity="warn" label="Get Notes If Empty" (click)="getNotes(true)" />
    <p-button [hidden]="!settingsService.selectedDictNote" severity="warn" label="Clear All Notes" (click)="clearNotes(false)" />
    <p-button [hidden]="!settingsService.selectedDictNote" severity="warn" label="Clear Notes If Empty" (click)="clearNotes(true)" />
    <a routerLink="/words-dict/unit/0">
      <p-button label="Dictionary" [rounded]="true" icon="fa fa-book" />
    </a>
  </div>
</p-toolbar>
<p-table [value]="wordsUnitService.unitWords" selectionMode="single" [autoLayout]="true"
         (onRowReorder)="onReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:2em">No.</th>
      <th>ID</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>WORDID</th>
      <th>WORD</th>
      <th>NOTE</th>
      <th>ACCURACY</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr [pReorderableRow]="index" [pSelectableRow]="row">
      <td>
        <i [hidden]="!settingsService.isSingleUnitPart || filterType !== 0" class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td>{{row.ID}}</td>
      <td>{{row.UNITSTR}}</td>
      <td>{{row.PARTSTR}}</td>
      <td>{{row.SEQNUM}}</td>
      <td>{{row.WORDID}}</td>
      <td>{{row.WORD}}</td>
      <td>{{row.NOTE}}</td>
      <td>{{row.ACCURACY}}</td>
      <td>
        <p-button icon="fa fa-trash" [rounded]="true" severity="danger"
                  pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(row)" />
        <p-button icon="fa fa-edit" [rounded]="true" pTooltip="Edit" tooltipPosition="top" (click)="showDetailDialog(row.ID)" />
        <p-button icon="fa fa-volume-up" [rounded]="true" [hidden]="!settingsService.selectedVoice" (click)="settingsService.speak(row.WORD)"
                pTooltip="Speak" tooltipPosition="top" />
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <p-button icon="fa fa-copy" [rounded]="true" ngxClipboard [cbContent]="row.WORD"
                  pTooltip="Copy" tooltipPosition="top" />
        <p-button icon="fab fa-google" [rounded]="true" (click)="googleWord(row.WORD)"
                pTooltip="Google Word" tooltipPosition="top" />
        <a routerLink="/words-dict/unit/{{index}}">
          <p-button icon="fa fa-book" [rounded]="true" pTooltip="Dictionary" tooltipPosition="top" />
        </a>
        <p-button label="Get Note" [rounded]="true" [hidden]="!settingsService.selectedDictNote" severity="warn" (click)="getNote(row)" />
        <p-button label="Clear Note" [rounded]="true" [hidden]="!settingsService.selectedDictNote" severity="warn" (click)="clearNote(row)" />
      </td>
    </tr>
  </ng-template>
</p-table>
