<p-toolbar>
  <div class="p-toolbar-group-start">
    <p-dropdown id="filterType" [options]="settingsService.phraseFilterTypes" [(ngModel)]="filterType" (onChange)="onRefresh()" />
    <p-floatLabel class="inline-block">
      <input id="filter" type="text" pInputText [(ngModel)]="filter" (keyup.enter)="onRefresh()">
      <label for="filter">Filter</label>
    </p-floatLabel>
    <p-button label="Add" [rounded]="true" icon="fa fa-plus" (click)="showDetailDialog(0)" />
    <p-button label="Refresh" [rounded]="true" icon="fa fa-sync" (click)="onRefresh()" />
  </div>
</p-toolbar>
<p-table [value]="phrasesUnitService.unitPhrases" selectionMode="single" [autoLayout]="true"
         (onRowReorder)="onReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:2em">No.</th>
      <th>ID</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>PHRASEID</th>
      <th>PHRASE</th>
      <th>TRANSLATION</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr [pReorderableRow]="index" [pSelectableRow]="row">
      <td>
        <i [hidden]="!settingsService.isSingleUnitPart || filterType !== 0" class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td>{{row.ID}}</td>
      <td>{{row.UNITSTR}}</td>
      <td>{{row.PARTSTR}}</td>
      <td>{{row.SEQNUM}}</td>
      <td>{{row.PHRASEID}}</td>
      <td>{{row.PHRASE}}</td>
      <td>{{row.TRANSLATION}}</td>
      <td>
        <p-button icon="fa fa-trash" [rounded]="true" severity="danger"
                  pTooltip="Delete" tooltipPosition="top" (click)="deletePhrase(row)" />
        <p-button icon="fa fa-edit" [rounded]="true" pTooltip="Edit" tooltipPosition="top" (click)="showDetailDialog(row.ID)" />
        <p-button icon="fa fa-volume-up" [rounded]="true" (click)="settingsService.speak(row.PHRASE)"
                pTooltip="Speak" tooltipPosition="top" />
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <p-button icon="fa fa-copy" [rounded]="true" ngxClipboard [cbContent]="row.PHRASE"
                pTooltip="Copy" tooltipPosition="top" />
        <p-button icon="fab fa-google" [rounded]="true" (click)="googlePhrase(row.PHRASE)"
                pTooltip="Google Phrase" tooltipPosition="top" />
      </td>
    </tr>
  </ng-template>
</p-table>
