<h1>{{title}}</h1>
@if (!isLoginPage) {
  <div>
    <p-tabMenu [model]="itemsApp" [activeItem]="activeItemApp"></p-tabMenu>
    @if (activeItemApp === itemsApp[0]) {
      <p-tabMenu [model]="items"></p-tabMenu>
    }
    @if (activeItemApp === itemsApp[1]) {
      <nav mat-tab-nav-bar>
        @for (tabLink of tabLinks; track tabLink; let i = $index) {
          <a mat-tab-link
            [routerLink]="tabLink.routerLink"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            <span>
              <mat-icon fontSet="fa" fontIcon={{tabLink.icon}}></mat-icon>
              {{tabLink.label}}
            </span>
          </a>
        }
      </nav>
    }
  </div>
}
<mat-tab-nav-panel #tabPanel>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
