<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a routerLink="/phrases-unit-detail/0">
      <button pButton type="button" label="Add" icon="fa fa-plus"></button>
    </a>
    <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh()"></button>
  </div>
</p-toolbar>
<p-table [value]="phrasesUnitService.unitPhrases" selectionMode="single" [autoLayout]="true"
         (onRowReorder)="onReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:2em">No.</th>
      <th>ID</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>PHRASEID</th>
      <th>PHRASE</th>
      <th>TRANSLATION</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr [pReorderableRow]="index" [pSelectableRow]="row">
      <td>
        <i [hidden]="!settingsService.isSingleUnitPart" class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td>{{row.ID}}</td>
      <td>{{row.UNITSTR}}</td>
      <td>{{row.PARTSTR}}</td>
      <td>{{row.SEQNUM}}</td>
      <td>{{row.PHRASEID}}</td>
      <td>{{row.PHRASE}}</td>
      <td>{{row.TRANSLATION}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                  pTooltip="Delete" tooltipPosition="top" (click)="deletePhrase(index)"></button>
        <a routerLink="/phrases-unit-detail/{{row.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <button pButton icon="fa fa-volume-up" (click)="settingsService.speak(row.PHRASE)"
                pTooltip="Speak" tooltipPosition="top"></button>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="row.PHRASE"
                pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton icon="fa fa-google" (click)="googlePhrase(row.PHRASE)"
                pTooltip="Google Phrase" tooltipPosition="top"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
