<div class="p-grid mt-2 mb-2">
  <label class="p-col-1" for="ID">ID:</label>
  <input class="p-col-3" id="ID" type="text" pInputText [(ngModel)]="item.ID" disabled>
</div>
<!-- https://stackoverflow.com/questions/41354416/primeng-p-dropdown-stretch-100 -->
<div class="p-grid mb-2">
  <label class="p-col-1" for="UNIT">UNIT:</label>
  <p-dropdown id="UNIT" autoWidth="false" class="p-col-3" styleClass="p-col-3" [options]="settingsService.units" [(ngModel)]="item.UNIT">
  </p-dropdown>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PART">PART:</label>
  <p-dropdown id="PART" autoWidth="false" class="p-col-3" styleClass="p-col-3" [options]="settingsService.parts" [(ngModel)]="item.PART">
  </p-dropdown>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="SEQNUM">SEQNUM:</label>
  <input class="p-col-3" id="SEQNUM" type="text" pInputText [(ngModel)]="item.SEQNUM">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="WORDID">WORDID:</label>
  <input class="p-col-3" id="WORDID" type="text" pInputText [(ngModel)]="item.WORDID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="WORD">WORD:</label>
  <input class="p-col-3" id="WORD" type="text" pInputText [(ngModel)]="item.WORD">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="NOTE">NOTE:</label>
  <input class="p-col-3" id="NOTE" type="text" pInputText [(ngModel)]="item.NOTE">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="FAMIID">FAMIID:</label>
  <input class="p-col-3" id="FAMIID" type="text" pInputText [(ngModel)]="item.FAMIID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="ACCURACY">ACCURACY:</label>
  <input class="p-col-3" id="ACCURACY" type="text" pInputText [value]="item.ACCURACY" disabled>
</div>
<div>
  <button pButton label="Cancel" (click)="cancel()"></button>
  <button pButton label="Save" (click)="save()"></button>
</div>
