<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh"></button>
    <a routerLink="/words-dict/textbook/0">
      <button pButton type="button" label="Dictionary"></button>
    </a>
  </div>
</p-toolbar>
<p-paginator [rows]="rows" [totalRecords]="wordsTextbookService.textbookWordCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
<p-table [value]="wordsTextbookService.textbookWords" selectionMode="single" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>TEXTBOOKNAME</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>WORD</th>
      <th>NOTE</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-textbookWord let-index="rowIndex">
    <tr [pSelectableRow]="textbookWord">
      <td>{{textbookWord.TEXTBOOKNAME}}</td>
      <td>{{textbookWord.UNITSTR}}</td>
      <td>{{textbookWord.PARTSTR}}</td>
      <td>{{textbookWord.SEQNUM}}</td>
      <td>{{textbookWord.WORD}}</td>
      <td>{{textbookWord.NOTE}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(index)"></button>
        <a routerLink="/words-textbook-detail/{{textbookWord.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="textbookWord.WORD"
                pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton label="Retrieve Note" [hidden]="hasNoNote" (click)="getNote(index)"></button>
        <button pButton label="Google Word" (click)="googleWord(textbookWord.WORD)"></button>
        <a routerLink="/words-dict/textbook/{{index}}">
          <button pButton label="Dictionary"></button>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
