<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh()"></button>
    <a routerLink="/words-dict/textbook/0">
      <button pButton type="button" label="Dictionary" icon="fa fa-book"></button>
    </a>
  </div>
</p-toolbar>
<p-paginator [rows]="rows" [totalRecords]="wordsUnitService.textbookWordCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
<p-table [value]="wordsUnitService.textbookWords" selectionMode="single" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>TEXTBOOKNAME</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>WORDID</th>
      <th>WORD</th>
      <th>NOTE</th>
      <th>LEVEL</th>
      <th>ACCURACY</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row let-index="rowIndex">
    <tr [pSelectableRow]="row" [ngStyle]="row.colorStyle">
      <td>{{row.ID}}</td>
      <td>{{row.TEXTBOOKNAME}}</td>
      <td>{{row.UNITSTR}}</td>
      <td>{{row.PARTSTR}}</td>
      <td>{{row.SEQNUM}}</td>
      <td>{{row.WORDID}}</td>
      <td>{{row.WORD}}</td>
      <td>{{row.NOTE}}</td>
      <td>{{row.LEVEL}}</td>
      <td>{{row.ACCURACY}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(row)"></button>
        <a routerLink="/words-textbook-detail/{{row.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <button pButton icon="fa fa-volume-up" [hidden]="!settingsService.selectedVoice" (click)="settingsService.speak(row.WORD)"
                pTooltip="Speak" tooltipPosition="top"></button>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="row.WORD"
                pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-up" (click)="updateLevel(row, 1)" class="ui-button-warning"
                pTooltip="Level Up" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-down" (click)="updateLevel(row, -1)" class="ui-button-warning"
                pTooltip="Level Down" tooltipPosition="top"></button>
        <button pButton icon="fa fa-google" (click)="googleWord(row.WORD)"
                pTooltip="Google Word" tooltipPosition="top"></button>
        <a routerLink="/words-dict/textbook/{{index}}">
          <button pButton icon="fa fa-book" pTooltip="Dictionary" tooltipPosition="top"></button>
        </a>
        <button pButton label="Retrieve Note" [hidden]="!settingsService.selectedDictNote" class="ui-button-warning" (click)="getNote(index)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator [rows]="rows" [totalRecords]="wordsUnitService.textbookWordCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
