<p-toolbar>
  <div class="ui-toolbar-group-left">
    <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh()"></button>
    <a routerLink="/words-dict/textbook/0">
      <button pButton type="button" label="Dictionary" icon="fa fa-book"></button>
    </a>
  </div>
</p-toolbar>
<p-paginator [rows]="rows" [totalRecords]="wordsTextbookService.textbookWordCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
<p-table [value]="wordsTextbookService.textbookWords" selectionMode="single" [autoLayout]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>TEXTBOOKNAME</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>WORDID</th>
      <th>WORD</th>
      <th>NOTE</th>
      <th>LEVEL</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-textbookWord let-index="rowIndex">
    <tr [pSelectableRow]="textbookWord" [ngStyle]="textbookWord.colorStyle">
      <td>{{textbookWord.ID}}</td>
      <td>{{textbookWord.TEXTBOOKNAME}}</td>
      <td>{{textbookWord.UNITSTR}}</td>
      <td>{{textbookWord.PARTSTR}}</td>
      <td>{{textbookWord.SEQNUM}}</td>
      <td>{{textbookWord.WORDID}}</td>
      <td>{{textbookWord.WORD}}</td>
      <td>{{textbookWord.NOTE}}</td>
      <td>{{textbookWord.LEVEL}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(index)"></button>
        <a routerLink="/words-textbook-detail/{{textbookWord.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <button pButton icon="fa fa-volume-up" [hidden]="!settingsService.selectedVoice" (click)="speak(textbookWord.WORD)"
                pTooltip="Speak" tooltipPosition="top"></button>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="textbookWord.WORD"
                pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-up" (click)="updateLevel(index, 1)"
                pTooltip="Level Up" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-down" (click)="updateLevel(index, -1)"
                pTooltip="Level Down" tooltipPosition="top"></button>
        <button pButton icon="fa fa-google" (click)="googleWord(textbookWord.WORD)"
                pTooltip="Google Word" tooltipPosition="top"></button>
        <a routerLink="/words-dict/textbook/{{index}}">
          <button pButton icon="fa fa-book" pTooltip="Dictionary" tooltipPosition="top"></button>
        </a>
        <button pButton label="Retrieve Note" [hidden]="!settingsService.selectedDictNote" (click)="getNote(index)"></button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator [rows]="rows" [totalRecords]="wordsTextbookService.textbookWordCount"
             [rowsPerPageOptions]="settingsService.USROWSPERPAGEOPTIONS"
             (onPageChange)="paginate($event)"></p-paginator>
