<div class="p-grid">
  <label class="p-col-1" for="id">ID:</label>
  <input id="id" type="text" pInputText [(ngModel)]="unitWord.ID" disabled>
</div>
<div class="p-grid">
  <label class="p-col-1" for="unit">UNIT:</label>
  <input id="unit" type="text" pInputText [(ngModel)]="unitWord.UNIT">
</div>
<div class="p-grid">
  <label class="p-col-1" for="part">PART:</label>
  <input id="part" type="text" pInputText [(ngModel)]="unitWord.PART">
</div>
<div class="p-grid">
  <label class="p-col-1" for="seqnum">SEQNUM:</label>
  <input id="seqnum" type="text" pInputText [(ngModel)]="unitWord.SEQNUM">
</div>
<div class="p-grid">
  <label class="p-col-1" for="word">WORD:</label>
  <input id="word" type="text" pInputText [(ngModel)]="unitWord.WORD">
</div>
<div class="p-grid">
  <label class="p-col-1" for="note">NOTE:</label>
  <input id="note" type="text" pInputText [(ngModel)]="unitWord.NOTE">
</div>
<div>
<p-button label="Back" (click)="goBack()"></p-button>
<p-button label="Save" (click)="save()"></p-button>
</div>
