<div class="p-grid mt-2 mb-2">
  <label class="p-col-1" for="ID">ID:</label>
  <input id="ID" type="text" pInputText [(ngModel)]="unitWord.ID" disabled>
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="UNIT">UNIT:</label>
  <input id="UNIT" type="text" pInputText [(ngModel)]="unitWord.UNIT">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="PART">PART:</label>
  <input id="PART" type="text" pInputText [(ngModel)]="unitWord.PART">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="SEQNUM">SEQNUM:</label>
  <input id="SEQNUM" type="text" pInputText [(ngModel)]="unitWord.SEQNUM">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="WORD">WORD:</label>
  <input id="WORD" type="text" pInputText [(ngModel)]="unitWord.WORD">
</div>
<div class="p-grid mb-2">
  <label class="p-col-1" for="NOTE">NOTE:</label>
  <input id="NOTE" type="text" pInputText [(ngModel)]="unitWord.NOTE">
</div>
<div>
<p-button label="Back" (click)="goBack()"></p-button>
<p-button label="Save" (click)="save()"></p-button>
</div>
