<p-toolbar>
  <div class="ui-toolbar-group-left">
    <a routerLink="/words-unit-detail/0">
      <p-button type="button" label="Add" icon="fa fa-plus"></p-button>
    </a>
    <p-button type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh"></p-button>
    <p-button type="button" label="Retrieve All Notes" (click)="getNotes(false)"></p-button>
    <p-button type="button" label="Retrieve Notes If Empty" (click)="getNotes(true)"></p-button>
    <a routerLink="/words-dict/0">
      <p-button type="button" label="Dictionary"></p-button>
    </a>
  </div>
</p-toolbar>
<span class="ui-float-label">
    <input id="word" type="text" pInputText [(ngModel)]="newWord" (keyup.enter)="onEnter()">
    <label for="word">New Word</label>
</span>
<p-table [value]="wordsUnitService.unitWords" selectionMode="single" [autoLayout]="true"
(onRowReorder)="onWordReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
  <tr>
    <th style="width:2em"></th>
    <th>ID</th>
    <th>UNIT</th>
    <th>PART</th>
    <th>SEQNUM</th>
    <th>WORD</th>
    <th>NOTE</th>
    <th>ACTIONS</th>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unitWord let-index="rowIndex">
  <tr [pReorderableRow]="index" [pSelectableRow]="unitWord">
    <td>
      <i class="fa fa-bars" pReorderableRowHandle></i>
    </td>
    <td>{{unitWord.ID}}</td>
    <td>{{unitWord.UNIT}}</td>
    <td>{{unitWord.PART}}</td>
    <td>{{unitWord.SEQNUM}}</td>
    <td>{{unitWord.WORD}}</td>
    <td>{{unitWord.NOTE}}</td>
    <td>
      <p-button icon="fa fa-trash" styleClass="ui-button-danger"
                pTooltip="Delete" tooltipPosition="top" (onClick)="deleteWord(index)"></p-button>
      <a routerLink="/words-unit-detail/{{unitWord.ID}}">
        <p-button icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></p-button>
      </a>
      <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
      <p-button icon="fa fa-copy" ngxClipboard [cbContent]="unitWord.WORD"
                pTooltip="Copy" tooltipPosition="top"></p-button>
      <p-button label="Retrieve Note" (onClick)="getNote(index)"></p-button>
      <p-button label="Google Word" (onClick)="googleWord(unitWord.WORD)"></p-button>
      <a routerLink="/words-dict/{{index}}">
        <p-button label="Dictionary"></p-button>
      </a>
    </td>
  </tr>
  </ng-template>
</p-table>
