<p-toolbar>
  <div class="ui-toolbar-group-left">
    <span class="ui-float-label">
      <input id="word" type="text" pInputText [(ngModel)]="newWord" (keyup.enter)="onEnter()">
      <label for="word">New Word</label>
      <a routerLink="/words-unit-detail/0">
        <button pButton type="button" label="Add" icon="fa fa-plus"></button>
      </a>
      <button pButton type="button" label="Refresh" icon="fa fa-refresh" (click)="onRefresh()"></button>
      <button pButton type="button" [hidden]="!settingsService.hasNote" label="Retrieve All Notes" (click)="getNotes(false)"></button>
      <button pButton type="button" [hidden]="!settingsService.hasNote" label="Retrieve Notes If Empty" (click)="getNotes(true)"></button>
      <a routerLink="/words-dict/unit/0">
        <button pButton type="button" label="Dictionary" icon="fa fa-book"></button>
      </a>
    </span>
  </div>
</p-toolbar>
<p-table [value]="wordsUnitService.unitWords" selectionMode="single" [autoLayout]="true"
         (onRowReorder)="onReorder($event.dragIndex, $event.dropIndex)">
  <ng-template pTemplate="header">
    <tr>
      <th style="width:2em"></th>
      <th>ID</th>
      <th>UNIT</th>
      <th>PART</th>
      <th>SEQNUM</th>
      <th>WORDID</th>
      <th>WORD</th>
      <th>NOTE</th>
      <th>ACTIONS</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unitWord let-index="rowIndex">
    <tr [pReorderableRow]="index" [pSelectableRow]="unitWord" [ngStyle]="unitWord.colorStyle">
      <td>
        <i class="fa fa-bars" pReorderableRowHandle></i>
      </td>
      <td>{{unitWord.ID}}</td>
      <td>{{unitWord.UNITSTR}}</td>
      <td>{{unitWord.PARTSTR}}</td>
      <td>{{unitWord.SEQNUM}}</td>
      <td>{{unitWord.WORDID}}</td>
      <td>{{unitWord.WORD}}</td>
      <td>{{unitWord.NOTE}}</td>
      <td>
        <button pButton icon="fa fa-trash" class="ui-button-danger"
                  pTooltip="Delete" tooltipPosition="top" (click)="deleteWord(index)"></button>
        <a routerLink="/words-unit-detail/{{unitWord.ID}}">
          <button pButton icon="fa fa-edit" pTooltip="Edit" tooltipPosition="top"></button>
        </a>
        <button pButton icon="fa fa-volume-up" (click)="speak(unitWord.WORD)"
                pTooltip="Speak" tooltipPosition="top"></button>
        <!-- https://stackoverflow.com/questions/45768583/angular-4-copy-text-to-clipboard -->
        <button pButton icon="fa fa-copy" ngxClipboard [cbContent]="unitWord.WORD"
                  pTooltip="Copy" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-up" (click)="updateLevel(index, 1)"
                pTooltip="Level Up" tooltipPosition="top"></button>
        <button pButton icon="fa fa-arrow-down" (click)="updateLevel(index, -1)"
                pTooltip="Level Down" tooltipPosition="top"></button>
        <button pButton label="Retrieve Note" [hidden]="!settingsService.hasNote" (click)="getNote(index)"></button>
        <button pButton icon="fa fa-google" (click)="googleWord(unitWord.WORD)"
                pTooltip="Google Word" tooltipPosition="top"></button>
        <a routerLink="/words-dict/unit/{{index}}">
          <button pButton icon="fa fa-book" pTooltip="Dictionary" tooltipPosition="top"></button>
        </a>
      </td>
    </tr>
  </ng-template>
</p-table>
