<p-table [value]="wordsUnitService.unitWords" selectionMode="single" [(selection)]="selectedUnitWord">
  <ng-template pTemplate="header">
  <tr>
    <th style="width:2em"></th>
    <th>ID</th>
    <th>UNIT</th>
    <th>PART</th>
    <th>SEQNUM</th>
    <th>WORD</th>
    <th>NOTE</th>
  </tr>
  </ng-template>
  <ng-template pTemplate="body" let-unitWord let-index="rowIndex">
  <tr [pReorderableRow]="index" [pSelectableRow]="unitWord">
    <td>
      <i class="fa fa-bars" pReorderableRowHandle></i>
    </td>
    <td>{{unitWord.ID}}</td>
    <td>{{unitWord.UNIT}}</td>
    <td>{{unitWord.PART}}</td>
    <td>{{unitWord.SEQNUM}}</td>
    <td>{{unitWord.WORD}}</td>
    <td>{{unitWord.NOTE}}</td>
  </tr>
  </ng-template>
</p-table>
